/* App.css */

.dark-mode-card {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  .dark-mode-card .MuiTypography-root {
    color: #fff; /* Light text color */
  }
  
  .dark-mode-card .MuiTooltip-tooltip {
    background-color: #333; /* Dark tooltip background color */
    color: #fff; /* Light text color */
  }
  
  .dark-mode-card .admin-panel-settings-icon {
    color: #ff8c00; /* Orange color for the admin panel settings icon */
  }
  