/* App.css */
.dark-mode {
  background-color: #000;
  color: #fff; /* Set text color to white in dark mode */
  height: 100vh; /* Make the div fill the entire viewport height */
  width: 100%; /* Ensure the div fills the entire viewport width */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.w-full {
  width: 100%;
}
